/* .imagens-produtos img{
    width: 100px;
    height: 100px; */


#imagem-cimento img{
    width: 100px;
}
#imagem-caixa-ferramentas img{
    width: 100px;
}
#imagem-betoneira img{
    width: 100px;
}
#imagem-pa img{
    width: 100px;
}
#imagem-torneira img{
    width: 100px;
}