*{
    margin: 0;
    padding: 0;
}
 .general-container {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
} 
header {
    display: flex;
    background-color: #4287f5;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    grid-column: 1 / -1;
    grid-row: 1/ 2;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin: 20px;
    grid-row: 2 / 3;
  }

  .card-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px darkgrey;
    margin-bottom: 8px;
  }
  .imagem-card-video{
    width: 100%;
  }
  footer {
    background-color: #4287f5;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 3/ 4;
  }
